<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Title</key>
		<string>NJRefreshExample</string>
		<key>Name</key>
		<string>NJRefreshExampleViewController</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>NJPhotos</string>
		<key>Name</key>
		<string>NJPhotosController</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>二维码扫描</string>
		<key>Name</key>
		<string>QRCodeScanViewController</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>NJSDWebImageTest</string>
		<key>Name</key>
		<string>NJSDWebImageTest</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>消息转发</string>
		<key>Name</key>
		<string>NJMessageForwardController</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>相机模块</string>
		<key>Name</key>
		<string>NJPhotosController</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>工具类测试</string>
		<key>Name</key>
		<string>NJUtilityTestViewController</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>IQKeyBoard</string>
		<key>Name</key>
		<string>NJIQKeyboardViewController</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>NJEffectiveController</string>
		<key>Name</key>
		<string>NJEffectiveController</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>AspectViewController</string>
		<key>Name</key>
		<string>NJAspectRootViewController</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>工具类测试</string>
		<key>Name</key>
		<string>NJUtilityTestViewController</string>
	</dict>
</array>
</plist>
